.btn, .btn-primary, .btn-info, .btn-success, .btn-danger {
  font-size: 12px;
  color: #f4f4f4;
  padding: 6px 12px;
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  transition-duration: 0.3s; }
  .btn:hover, .btn-primary:hover, .btn-info:hover, .btn-success:hover, .btn-danger:hover {
    background-color: #1a6a98; }

.btn-primary {
  background-color: #56B1E6; }
  .btn-primary:hover {
    background-color: #1a6a98; }

.btn-info {
  background-color: #76CCE6; }
  .btn-info:hover {
    background-color: #5E8AB7; }

.btn-success {
  background-color: #2ecc71; }
  .btn-success:hover {
    background-color: #27ae60; }

.btn-danger {
  background-color: #e74c3c; }
  .btn-danger:hover {
    background-color: #c0392b; }

.btn-disabled {
  color: #f4f4f4;
  font-size: 12px;
  color: #f4f4f4;
  padding: 6px 12px;
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  background-color: #95a5a6;
  margin-top: 10px; }

body {
  background-color: #f4f4f4;
  font-family: Helvetica; }

.container {
  margin-right: auto;
  margin-left: 120px; }

.title {
  width: 100%; }

.col {
  width: 33.3%;
  float: left;
  display: inline-block; }

/*HEADINGS*/
h1, h2, h3, h4 {
  color: #4a4a4a;
  font-family: Helvetica;
  font-size: 28pt;
  letter-spacing: 2px; }

h2 {
  font-size: 18pt; }

h3 {
  font-size: 14pt; }

h4 {
  font-size: 12pt; }

p {
  font-size: 12px;
  font-weight: lighter;
  color: #4a4a4a; }

.link {
  font-size: 14px;
  color: #56B1E6;
  text-decoration: none;
  transition-duration: 0.3s; }
  .link:hover {
    color: #1a6a98;
    text-transform: uppercase; }

/*ALERTS*/
.alert, .alert-primary, .alert-info, .alert-success, .alert-warning, .alert-danger {
  padding: 10px;
  width: 250px;
  background-color: #56B1E6;
  color: #f4f4f4;
  font-size: 12px; }

.alert-info {
  background-color: #76CCE6; }

.alert-success {
  background-color: #2ecc71; }

.alert-warning {
  background-color: #f1c40f; }

.alert-danger {
  background-color: #c0392b; }

/*FORMS*/
.text-input, .text-textarea {
  padding-left: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 57%;
  border: solid #56B1E6 2px;
  background-color: transparent;
  color: #4a4a4a;
  transition-duration: 0.4s; }
  .text-input:focus, .text-textarea:focus {
    outline: #1a6a98 solid 2px; }

.option-custom {
  padding-left: 6px;
  list-style-type: none;
  width: 95%;
  padding-top: 6px;
  padding-bottom: 6px;
  overflow: hidden;
  background-color: transparent;
  border: 2px solid transparent;
  color: #4a4a4a;
  transition-duration: 0.4s; }
  .option-custom:focus {
    outline: none;
    overflow: hidden; }

.option-custom select {
  padding-top: 6px;
  padding-bottom: 6px;
  width: 95%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.select-style select:focus {
  outline: none; }

.option-container {
  padding-top: 6px;
  padding-bottom: 6px;
  width: 58%;
  border: 2px solid #56B1E6;
  background-color: transparent;
  color: #4a4a4a;
  transition-duration: 0.4s; }
  .option-container:focus {
    outline: #1a6a98 solid 2px; }

/*SOCIAL MEDIAS*/
.social-icons {
  width: 35px;
  height: 35px;
  margin-right: 5px; }

/*# sourceMappingURL=main.css.map */
