@import 'bourbon/bourbon';
@import '_partials/variables';
@import '_partials/buttons';

body{
	background-color: #f4f4f4;
	font-family: Helvetica;

	}

.container{
	margin-right: auto;
	margin-left: 120px;
}

.title{
	width: 100%;
}
.col{
	width: 33.3%;
	float: left;
	display: inline-block;

}

/*HEADINGS*/

h1 {
  color: $color-gray;
  font-family: Helvetica;
  font-size: 28pt;
  letter-spacing: $normal-spacing; }

h2 {
  @extend h1;	
  font-size: 18pt; }

h3 {
  @extend h1;
  font-size: 14pt; }

h4 {
  @extend h1;
  font-size: 12pt; }

 p{
 	font-size: 12px;
 	font-weight: lighter;
 	color: $color-gray;
 }

.link{
	font-size: 14px;
	color: $color-blue;
	text-decoration: none;
	transition-duration: 0.3s;
	&:hover{
		color: $darker-blue;
		text-transform: uppercase;
		}
}

/*ALERTS*/

.alert{
	padding: 10px;
	width: 250px;
	background-color: $color-blue;
	color: $color-white;
	font-size: 12px;
}

.alert-primary{
	@extend .alert;
	
}

.alert-info{
	@extend .alert;
	background-color: #76CCE6;
}

.alert-success{
	@extend .alert;
	background-color: #2ecc71;
}


.alert-warning{
	@extend .alert;
	background-color: #f1c40f;
}

.alert-danger{
	@extend .alert;
	background-color: #c0392b;
}

/*FORMS*/

.text-input{
	padding-left: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	width: 57%;
	border: solid $color-blue 2px;
	background-color: transparent;
	color: $color-gray;
	transition-duration: 0.4s;
	&:focus {
    outline: $darker-blue solid 2px;
	}
}

.text-textarea{
	@extend .text-input;
}

.option-custom{
	padding-left: 6px;
	list-style-type: none;
	width: 95%;
	padding-top: 6px;
	padding-bottom: 6px;
	overflow: hidden;
	background-color: transparent;
	border: 2px solid transparent;
	color: $color-gray;
	transition-duration: 0.4s;
	&:focus {
    outline: none;
    overflow: hidden;
	}

}

.option-custom select{
	padding-top: 6px;
	padding-bottom: 6px;
    width: 95%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none
}

.select-style select:focus {
    outline: none;
}


.option-container{
	padding-top: 6px;
	padding-bottom: 6px;
	width:58%;
	border: 2px solid $color-blue;
	background-color: transparent;
	color: $color-gray;
	transition-duration: 0.4s;
	&:focus {
    outline: $darker-blue solid 2px;
	}
}

/*SOCIAL MEDIAS*/
.social-icons{
	width: 35px;
	height: 35px;
	margin-right: 5px;
}
